.primary {
    color:orange;
    justify-content: center;
}

.centre {
    align-items: center;
    justify-content: center;
}

.font-xl {
    font-size: 72px;
}

.body {
    background-color: rgb(214, 212, 240);}
